@import "core/_variable.styl"

.tqb-city-picker-desktop
  position absolute
  display flex
  flex-wrap wrap
  width 880px
  height 500px
  border 1px solid $border-color

  @import "parts/_body.styl"

@import "parts/_container.styl"
@import "parts/_header.styl"