@import "core/_variable.styl"

.tqb-city-picker-desktop
  background-color white
  position absolute
  display flex
  flex-wrap wrap
  width 880px
  border 1px solid $border-color

  &.out
    display none

  &.loading
    flex-direction column

    div
      padding 2rem 0
      text-align center

  @import "parts/_body.styl"

@import "parts/_container.styl"
@import "parts/_header.styl"